
:root{
    --bg-color: rgb(15, 15, 15);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    

}

header{
    height: 20%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.566) ;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div{
    font-family: 'Arimo';
    color: white;
    font-size: 24px;
    font-weight: bold;
}


dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px;
    border: none;
    border-radius: 1rem;
    background-color: #2a2a2a; /* Tamsus fonas dialogui, derantis prie mygtuko */
    color: white;
    font-family: 'Arimo', sans-serif;
    min-width: 300px;
    height: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
}


form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}

dialog > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

dialog > div button{
    padding: 0.7em 2em;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
}

/* Close button animation */

#closeBtn {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  position: relative;
}

#closeBtn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ff00008d;
  transition: width 0.3s ease;
  z-index: -1;
  border-radius: 10px;
}

#closeBtn:hover::after {
  width: 100%;
}

#closeBtn:hover {
  color: white;
}

/* submit button animation */

#submit {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  position: relative;
}

#submit::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #57cf4c96;
  transition: width 0.3s ease;
  z-index: -1;
  border-radius: 10px;
}

#submit:hover::after {
  width: 100%;
}

#submit:hover {
  color: white;
}

/*  */



.checkbox{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


/* Main */

main {
  flex: 1;
  padding: 30px;
  --grid-max-col-count: 4;
  --grid-gap: 20px;
  --grid-col-size-calc: calc((100% - var(--grid-gap) * (var(--grid-max-col-count) - 1)) / var(--grid-max-col-count));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-col-size-calc), 1fr));
  gap: var(--grid-gap);
}

.card{
  background-color: white;
  border-radius: 5px;
}




